<h1>Englisch Programme auswählen!</h1>
<!-- <div class="english center">

    <div class="city-country-river">
        <p class="color-white">Stadt Land Fluss</p>
    </div>
    
    <div>
        <div class="get-data-container center">
            <form>
                <input type="text">
                <button>Get Data</button>
            </form>
        </div>

        <div routerLink="/english-page-card-index-card-practice" class="card-index center">
            <p class="color-white">Kartei Karten üben</p>
        </div>
    </div>
</div> -->
